.die{
    list-style: none;
}

.dice1{
    padding: 4px;
    background-color: black;
    width: 204px;
    height: 204px;
    border-radius: 10%;
}

.dot1{
    display: block;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color:white;
}
